/******************************************************************************
 * # License
 * <b>Copyright 2025 Silicon Laboratories Inc. www.silabs.com</b>
 ******************************************************************************
 * The licensor of this software is Silicon Laboratories Inc. Your use of this
 * software is governed by the terms of Silicon Labs Master Software License
 * Agreement (MSLA) available at
 * www.silabs.com/about-us/legal/master-software-license-agreement. This
 * software is distributed to you in Source Code format and is governed by the
 * sections of the MSLA applicable to Source Code.
 *
 *****************************************************************************/

#include "sl_status_strings.h"

const char *sl_status_string(int status)
{
    switch (status) {
{% for status in status_codes %}
        case {{ status.name }}:
            return "{{ status.name }}";
{% endfor %}
        default:
            return "UNKNOWN";
    }
}

const char *sl_status_string_verbose(int status)
{
    switch (status) {
{% for status in status_codes %}
        case {{ status.name }}:
            return "{{ status.description }}";
{% endfor %}
        default:
            return "Unknown error.";
    }
}

